
#login-body{
    margin: 10px 10px 10px 10px;
    top:25%;
    left:30%;
    width: 35%;
    position: absolute;
}

.rounded-20{
    border-radius: 20px;
}

#main-body{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    border-radius: 15px;
    padding: 1%;
    width:84%;
    height:100%;
    position: absolute;
    background-color: red;
}

#head-nav{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    border-radius: 5px;
    padding: 10px;
    width:96%;
    height:5%;
    position: absolute;
    background-color: blue;
}

#left-user-info{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    border-radius: 5px;
    padding: 10px;
    width:20%;
    height:5%;
    position: absolute;
    background-color: blue;
}