<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Book Storage</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'custom-0.0.1-dist/css/custom.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.js' %}"></script>
    

</head>

<body>
LOGIN SUCCESS
</body>

<script src="{% static 'custom-0.0.1-dist/js/custom.js' %}"></script>
</html>