<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Storage</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom-0.0.1-dist/css/custom.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.js' %}"></script>
    

</head>

<body>
    <div id="main-body">
        <div class="row">
            <div class="col-sm-10">
                <p class="text-primary h3 text-center">我是标题</p>
            </div>
            <div class="col-sm-2">
                <img src="..." class="img-thumbnail rounded-circle" alt="...">
            </div>
        </div>
        <div id="show-area">
        <div class="row">
            <div class="card mb-3 mx-md-2" style="max-width: 340px;">
                <div class="row no-gutters">
                    <div class="col-sm-4"><img src="..." alt="..."></div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title h6">Card title</h5>
                            <p class="card-text h6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text h6"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mx-md-2" style="max-width: 340px;">
                <div class="row no-gutters">
                    <div class="col-sm-4"><img src="..." alt="..."></div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title h6">Card title</h5>
                            <p class="card-text h6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text h6"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mx-md-2" style="max-width: 340px;">
                <div class="row no-gutters">
                    <div class="col-sm-4"><img src="..." alt="..."></div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title h6">Card title</h5>
                            <p class="card-text h6">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text h6"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        </div>
        <div id="page-nav"></div>
    </div>
</body>

<script src="{% static 'custom-0.0.1-dist/js/custom.js' %}"></script>
</html>