<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Book Storage</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'custom-0.0.1-dist/css/custom.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
    <div id="login-body">
        <form action="/user" method="get">
        <div class="form-group">
            <label for="exampleInputAccount1">Email address</label>
            <input type="account" class="form-control" placeholder="Account" name="account">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <input type="submit" class="btn btn-default">
        </form>
    </div>
</body>
</html>