<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Book Storage</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom-0.0.1-dist/css/custom.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.js' %}"></script>
    

</head>

<body>
    <div id="home">
        <img src="/static/image/home.jpg" class="img-fluid home-img">
        <div id="login-body">
        <form>
            <div class="form-group">
                <label for="exampleInputAccount1">Email address</label>
                <input type="account" class="form-control" id="account" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button id="login" type="button" class="btn btn-info ">Submit</button>
        </form>
        </div>
    </div>
</body>

<script src="{% static 'custom-0.0.1-dist/js/custom.js' %}"></script>
</html>