<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowledge Stock</title>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'markdown-1.5.0/css/editormd.min.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

<div id="editor">
    <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
    <textarea style="display:none;">### Hello Editor.md !</textarea>
</div>

<script src="{% static 'markdown-1.5.0/js/editormd.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/codemirror/codemirror.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    var editor = editormd("editor", {
        width           : "90%",
        autoHeight      : true,
        path            : "../static/markdown-1.5.0/lib/",
        htmlDecode      : "style,script,iframe", 
        tex             : true,
        emoji           : true,
        taskList        : true,
        sequenceDiagram : true
    });
});
</script>
<body>
</html>

