<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowledge Stock</title>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'markdown-1.5.0/css/editormd.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1/css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'markdown-1.5.0/css/editormd.preview.css' %}" />
    <script src="{% static 'bootstrap-5.0.1/js/bootstrap.bundle.js' %}"></script>
    
</head>

<body>

<main>

{% comment %} 左方内容目录 {% endcomment %}
<div id="left-nav" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 380px; position: relative; height:auto">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Knowledge Stock</span>
    </a>
    <hr>
    <ul>
    
    {% for piece in pieces %}
        <li>

            <span id="" class="spinner-border spinner-border-sm" role="status"></span>

            <span class="nav-link text-white bg-black d-inline-block" data-bs-toggle="collapse" href="#{{ piece.slug }}" role="button" aria-expanded="false">
            {{ piece.name }}
            </span>
            <div class="collapse" id="{{ piece.slug }}" path="{{ piece.path }}">
                <div  class="card card-body bg-light"></div>
            </div>

        </li>
    {% endfor %}

    </ul>
    <hr>
</div>

<div id="markdown-content" class="container" style="margin-left: 80px; width:100%"></div>


</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'markdown-1.5.0/lib/marked.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/prettify.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/underscore.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/flowchart.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/js/editormd.js' %}"></script>
<script src="{% static 'markdown-1.5.0/js/editormd.js' %}"></script>
<script src="{% static 'custom-0.0.1-dist/js/viewer.js' %}"></script>
<body>
</html>

