<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowledge Stock</title>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'markdown-1.5.0/css/editormd.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1/css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'markdown-1.5.0/css/editormd.preview.css' %}" />
    <script src="{% static 'bootstrap-5.0.1/js/bootstrap.bundle.js' %}"></script>
    
</head>

<body>

<main>

{% comment %} 左方内容目录 {% endcomment %}
<div id="left-nav" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 380px; position: relative; height:auto">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Knowledge Stock</span>
    </a>
    <hr>
    <ul>
    
    {% for piece in pieces %}
        <li>
            <a class="nav-link text-white bg-black" data-bs-toggle="collapse" href="#{{ piece.slug }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            {{ piece.name }}
            </a>
            <div class="collapse multi-collapse" id="{{ piece.slug }}" path="{{ piece.path }}">
                <div  class="card card-body bg-light"></div>
            </div>
        </li>
    {% endfor %}

    </ul>
</div>

<div class="container" style="margin-left: 80px; width:100%">
    <div id="layout">
    <div id="editormd-view" class="markdown-body editormd-html-preview">
    <textarea id="append-test" style="display:none;"> 
# 123123
### 1231241
* 12312
* 123123
    asdfasdfsdvmxzkvms
    dfasdfasd

    dfasdfasddf
    asdfasdfsdvmxzkvmsf
    asdfasdfsdvmxzkvmsf
    asdfasdfsdvmxzkvmsfa
    sequenceDiagramf
### 123123
```C++
int a = 100;
```


</textarea>

    </div>
</div>
</div>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'markdown-1.5.0/lib/marked.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/prettify.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/underscore.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/flowchart.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'markdown-1.5.0/js/editormd.js' %}"></script>
<script src="{% static 'markdown-1.5.0/js/editormd.js' %}"></script>
<script src="{% static 'custom-0.0.1-dist/js/viewer.js' %}"></script>
<script type="text/javascript">
            $(function() {
                var testEditormdView, testEditormdView2;
                    
                testEditormdView2 = editormd.markdownToHTML("editormd-view", {
                    htmlDecode      : "style,script,iframe",  
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
        
</script>
<body>
</html>

